@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
/*
Author: Haoran Geng
Partner:   None
Date:      8 / 30 / 2021
Course:    CS 4540, University of Utah, School of Computing
Copyright: CS 4540 and Haoran Geng - This work may not be copied for use in Academic Coursework.
File Contents:
This page is an application page.
*/
}
<div class="namePlate">
    <figure id="p_photo">
        <a href="https://en.wikipedia.org/wiki/Jim_Raynor"><img class="apphoto" src="/images/JimRaynor_SC2_Head2.jpg" alt="Picture of Jim" /> </a>
    </figure>
    <!--make a class for names and UID. may be used for database or js-->
    <h1 class="p_title">Application for </h1><h1 class="aplicantID">Jim Raynor</h1>
    <br /><br />
    <h5 class="ap_uid">u1234567</h5>
</div>
<div class="p_id">
    <ul>
        <li>Contact: Jim@sc2.com</li>
        <li>123-456-7890</li>
        <li><a href="#">Linked In</a></li>
        <li><a href="#">Resume</a></li>
    </ul>

</div>