@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    /*
    Author: Haoran Geng
    Partner:   None
    Date:      8 / 30 / 2021
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and Haoran Geng - This work may not be copied for use in Academic Coursework.


    File Contents:
    This page is an application page.

    9/12/2021
    Adding bootstrap
    Update UI
    Move to Applications folder
    */
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
            <figure id="p_photo">
                <img class="apphoto" src="/images/JimRaynor_SC2_Head2.jpg" alt="Picture of Jim" />
            </figure>
            <div class="margin-20px-top">
                <ul class="info_list no-margin">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="profile padding-50px-left sm-no-padding-left">
                <!--make a class for names and UID. may be used for database or js-->
                <h1 class="aplicantID">Jim Raynor</h1>
                <p></p>
                <h5 class="ap_uid">u1234567</h5>
                <p id="personal_statement">
                    James Eugene Raynor is a fictional character and a major protagonist in Blizzard Entertainment's science fiction StarCraft series.
                    Raynor is a predominant character in the science fiction real-time strategy video games StarCraft and Brood War, and is a player character in StarCraft II: Wings of Liberty.
                    He also appears as a playable character in the crossover multiplayer online battle arena game Heroes of the Storm. Outside video games, Raynor appears in the novels Liberty's Crusade and Queen of Blades,
                    while his backstory is explored in the novels Heaven's Devils and Devil's Due. Robert Clotworthy voices the character in all video game appearances.
                    <!--copy from wiki-->
                </p>
                <div class="contact_info margin-40px-tb">
                    <ul class="info_list no-margin">
                        <!--Academic Info-->
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <i class="fa fa-graduation-cap" ::before> </i>
                                    <strong class="margin-10px-left">Academic Info: </strong>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p>graduate</p>
                                </div>
                            </div>
                        </li>
                        <!--interested in-->
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-4" style="color:orange">
                                    <i class="fa fa-star" ::before> </i>
                                    <strong class="margin-10px-left">Interested In: </strong>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p>CS1410, CS3500</p>
                                </div>
                            </div>
                        </li>
                        <!--Work time-->
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-4" style="color:red">
                                    <i class="fa fa-check-square " ::before> </i>
                                    <strong class="margin-10px-left">Maxium Work Hours: </strong>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p>20</p>
                                </div>
                            </div>
                        </li>
                        <!--Academic Info-->
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <i class="fa fa-phone-square"> </i>
                                    <strong class="margin-10px-left">Phone Number: </strong>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p>123-456-7890</p>
                                </div>
                            </div>
                        </li>
                        <!--Email-->
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <i class="fa fa-address-book"> </i>
                                    <strong class="margin-10px-left">Email: </strong>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p>Jim@sc2.com</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
